<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      /* Reset default margin and padding */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
      }

      /* Body styles */
      body {
        font-size: 16px;
        line-height: 1.6;
        background-color: #f7f7f7;
        color: #333;
        background-image: url("/images/b2.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }

      /* Sidebar styles */
      .sidebar {
        background-color: #00022e;
        color: #fff;
        padding: 0.1rem;
        width: 20vw;
        height: 100vh;
        flex: 0 0 auto;
        position: fixed;
        top: 0;
        left: -60vw; /* Initially hidden on smaller screens */
        overflow-y: auto;
        transition: left 0.3s ease;
      }

      .logo {
        font-size: 0.5rem;
        margin-bottom: 1rem;
        width: 5rem;
        height: auto;
        border-radius: 40px;
      }

      .nav-links {
        list-style: none;
        margin-bottom: 1rem;
      }

      .nav-links li {
        margin-left: 0;
      }

      .nav-links a {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #fff;
        position: relative;
        font-weight: bold;
      }

      .nav-links a::before {
        content: "";
        position: absolute;
        width: calc(100% - 2rem);
        height: 2px;
        bottom: -5px;
        left: 1rem;
        background-color: #fff;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
      }

      .nav-links a:hover::before {
        visibility: visible;
        transform: scaleX(1);
      }

      /* Main content styles */
      .main-content {
        padding: 0.1rem;
        margin-left: 20vw;
        width: 80vw;
        min-height: 100vh;
        text-align: center;
      }

      .search-section {
        margin-bottom: 2rem;
        text-align: center;
      }

      .search-input1 {
        padding: 0.8rem;
        border-radius: 5px;
        border: 1px solid #07f9f5;
        width: 48%;
        margin-top: 5px;
        margin-right: 1rem;
      }

      /* Style the search button */
      #searchButton {
        background-color: #178733;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 5px;
      }

      #searchButton:hover {
        background-color: #147026;
      }

      .card-section {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
      }

      .card {
        width: calc(33.333% - 2rem);
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        overflow: hidden;
        transition: transform 0.3s ease;
        background-color: #fff;
        text-align: center;
      }

      .card:hover {
        transform: translateY(-0.5rem);
      }

      .card img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
      }

      .card-info {
        padding: 1.5rem;
      }

      .card-info h2 {
        margin-bottom: 0.8rem;
      }

      .card-info p {
        font-size: 0.875rem;
        margin-bottom: 0.8rem;
      }

      .card-info .copy-btn {
        background-color: darkgray;
        color: #fff;
        border: none;
        padding: 5px 10px;
        margin-left: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.875rem;
        transition: background-color 0.3s ease;
      }

      .card-info .copy-btn:hover {
        background-color: #147026;
      }

      .card-info a {
        display: inline-block;
        text-decoration: none;
        color: #02a0f6;
        border: 1px solid #178733;
        padding: 8px 12px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .card-info a:hover {
        background-color: #178733;
        color: #fff;
      }

      /* Hamburger menu icon */
      .menu-icon {
        position: fixed;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        z-index: 999;
        display: none;
      }

      .menu-icon i {
        font-size: xx-large;
        color: #02a0f6;
      }

      /* Media Queries */
      @media screen and (max-width: 768px) {
        .sidebar {
          left: -20vw;
          width: 60vw;
        }

        .menu-icon {
          display: block;
        }

        .main-content {
          margin-left: 0;
          width: 100%;
        }

        .card {
          width: calc(50% - 2rem);
        }
      }

      @media screen and (max-width: 480px) {
        .card {
          width: calc(100% - 2rem);
        }
      }
    </style>
  </head>
  <body>
    <div class="sidebar" id="sidebar">
      <!-- Sidebar content -->
      <img class="logo" src="/images/logo.jpeg" alt="Logo" />
      <ul class="nav-links">
        <!-- Navigation links -->
        <li>
          <a href="/tenant"
            ><i
              class="fa fa-dashboard"
              aria-hidden="true"
              style="color: #c68417; width: 30px; font-size: x-large"
            ></i>
            Home</a
          >
        </li>
        <li>
          <a href="/tenant/tenant_profile"
            ><i
              class="fa fa-user"
              aria-hidden="true"
              style="color: olivedrab; width: 30px; font-size: x-large"
            ></i>
            My Profile</a
          >
        </li>
        <li>
          <a href="/tenant/pending_approval"
            ><i
              class="fa fa-check-square"
              aria-hidden="true"
              style="color: #048e04; width: 30px; font-size: x-large"
            ></i>
            Pending Approval</a
          >
        </li>
        <li>
          <a href="/tenant_bookings"
            ><i
              class="fa fa-history"
              aria-hidden="true"
              style="color: burlywood; width: 30px; font-size: x-large"
            ></i>
            Bookings History</a
          >
        </li>
        <li>
          <a href="/agent"
            ><i
              class="fa fa-address-card"
              aria-hidden="true"
              style="color: #07f9f5; width: 30px; font-size: x-large"
            ></i>
            House Agents</a
          >
        </li>
        <li>
          <a href="/logout"
            ><i
              class="fa fa-sign-out"
              aria-hidden="true"
              style="color: rgb(255, 0, 93); width: 30px; font-size: x-large"
            ></i>
            Sign-Out</a
          >
        </li>
      </ul>
    </div>

    <!-- Menu icon for mobile -->
    <div class="menu-icon" id="menu-icon">
      <i class="fa fa-bars"></i>
    </div>

    <div class="main-content">
      <form action="" style="background-color: #00022e; border-radius: 8px">
        <h1 style="color: #02a0f6">House Agents</h1>
      </form>
      <div class="search-section">
        <input
          type="text"
          class="search-input1"
          placeholder="Search by name or phone number..."
        />
        <button id="searchButton">Search</button>
      </div>
      <div class="card-section">
        <% agents.forEach(agent => { %>
        <div class="card">
          <% if (agent.profile_photo &&
          !agent.profile_photo.startsWith('/images')) { %>
          <img src="/uploads/<%= agent.profile_photo %>" alt="Profile Photo" />
          <% } else { %>
          <img src="/images/profile2.png" alt="Profile Photo" />
          <% } %>
          <div class="card-info">
            <h2><%= agent.first_name %> <%= agent.surname %></h2>
            <p>
              Phone: <%= agent.phone_number %>
              <button class="copy-btn" data-copy="<%= agent.phone_number %>">
                Copy
              </button>
            </p>
            <p>Email: <%= agent.email_address %></p>
            <a href="mailto:<%= agent.email_address %>">Contact</a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <script>
      // Hamburger menu icon functionality
      const sidebar = document.getElementById("sidebar");
      const menuIcon = document.getElementById("menu-icon");

      menuIcon.addEventListener("click", () => {
        sidebar.style.left = sidebar.style.left === "0px" ? "-60vw" : "0px";
      });

      // Event listener for sidebar toggle on window resize
      function handleResize() {
        if (window.innerWidth > 768) {
          sidebar.style.left = "0";
          menuIcon.style.display = "none";
        } else {
          sidebar.style.left = "-60vw";
          menuIcon.style.display = "block";
        }
      }

      window.addEventListener("resize", handleResize);
      handleResize();
    </script>
  </body>
</html>
