<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      /* Reset default margin and padding */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
      }

      /* Body styles */
      body {
        font-size: 16px;
        line-height: 1.6;
        background-image: url("/images/b2.jpg");
        color: #333;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        display: flex;
      }

      /* Sidebar styles */
      .sidebar {
        background-color: #00022e;
        color: #fff;
        padding: 1rem;
        width: 20vw;
        height: 100vh;
        flex: 0 0 auto;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        transition: left 0.3s ease;
      }

      .logo {
        font-size: 0.5rem;
        margin-bottom: 1rem;
        width: 5rem;
        height: auto;
        border-radius: 40px;
      }

      .nav-links {
        list-style: none;
        margin-bottom: 1rem;
      }

      .nav-links li {
        margin-left: 0;
      }

      .nav-links a {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #fff;
        position: relative;
        font-weight: bold;
      }

      .nav-links a::before {
        content: "";
        position: absolute;
        width: calc(100% - 2rem);
        height: 2px;
        bottom: -5px;
        left: 1rem;
        background-color: #fff;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
      }

      .nav-links a:hover::before {
        visibility: visible;
        transform: scaleX(1);
      }

      /* Hamburger menu icon */
      .menu-icon {
        position: fixed;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        z-index: 999;
        display: none;
      }

      .menu-icon i {
        font-size: 1.5rem;
        color: #02a0f6;
      }

      /* Main content styles */
      .main-content {
        padding: 2rem;
        margin-left: 20vw;
        width: 80vw;
        min-height: 100vh;
      }

      .search-section {
        margin-bottom: 2rem;
      }

      /* Card Section Styles */
      .card-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        background-color: aliceblue;
        width: 18rem;
      }

      .card:hover {
        transform: scale(1.05);
      }

      .card img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
      }

      .card-info {
        padding: 1.2rem;
      }

      .card-info h2 {
        margin-bottom: 0.8rem;
      }

      .card-info p {
        font-size: 0.875rem;
        margin-bottom: 0.8rem;
      }

      .card-info a {
        text-decoration: none;
        color: aliceblue;
        background-color: red;
        padding: 8px 12px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        float: right;
        margin-bottom: 2px;
      }

      .card-info a:hover {
        background-color: #ddd;
      }

      /* Delete button styles */
      .delete-btn {
        padding: 8px 16px;
        background-color: #ff0000;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        margin-top: 5px;
      }

      .delete-btn:hover {
        background-color: #cc0000;
      }

      /* Media Queries */
      @media screen and (max-width: 768px) {
        .sidebar {
          left: -20vw;
        }

        .menu-icon {
          display: block;
        }

        .main-content {
          margin-left: 0;
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div class="sidebar" id="sidebar">
      <img class="logo" src="/images/logo.jpeg" alt="Logo" />
      <ul class="nav-links">
        <li>
          <a href="/landlord">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-dashboard"
                aria-hidden="true"
                style="color: #c68417; width: 30px; font-size: x-large"
              ></i>
            </div>
            Home
          </a>
        </li>
        <li>
          <a href="/landlord/add_hostel">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-plus-square"
                aria-hidden="true"
                style="color: #0da2f1; width: 30px; font-size: x-large"
              ></i>
            </div>
            Add Hostel
          </a>
        </li>
        <li>
          <a href="/landlord/delete_hostel">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-trash-o"
                aria-hidden="true"
                style="color: #eb0c0c; width: 30px; font-size: x-large"
              ></i>
            </div>
            Delete Hostel
          </a>
        </li>
        <li>
          <a href="/landlord/confirm_booking_landlord">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-check-square"
                aria-hidden="true"
                style="color: #048e04; width: 30px; font-size: x-large"
              ></i>
            </div>
            Approve Booking
          </a>
        </li>
        <li>
          <a href="/landlord/booking_history">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-history"
                aria-hidden="true"
                style="color: burlywood; width: 30px; font-size: x-large"
              ></i>
            </div>
            Bookings History
          </a>
        </li>
        <li>
          <a href="/landlord/landlord_profile">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-user"
                aria-hidden="true"
                style="color: gold; width: 30px; font-size: x-large"
              ></i>
            </div>
            My Profile
          </a>
        </li>
        <li>
          <a href="/logout">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-sign-out"
                aria-hidden="true"
                style="color: rgb(255, 0, 93); width: 30px; font-size: x-large"
              ></i>
            </div>
            Sign-Out
          </a>
        </li>
      </ul>
    </div>
    <div class="menu-icon" id="menu-icon">
      <i class="fa fa-bars"></i>
    </div>
    <div class="main-content">
      <section class="search-section">
        <!-- Card Section -->
        <div class="card-section">
          <% if (hostels.length > 0) { %> <% hostels.forEach((hostel) => { %>
          <div class="card">
            <img
              src="/uploads/<%= hostel.images %>"
              alt="<%= hostel.name %> Image"
            />
            <div class="card-info">
              <h2><%= hostel.name %></h2>
              <p>Gender: <%= hostel.gender %></p>
              <p>Location: <%= hostel.location %></p>
              <p>MK<%= hostel.price %></p>
              <a
                href="#"
                class="delete-btn"
                data-hostel-id="<%= hostel.hostelId %>"
                >Delete</a
              >
            </div>
          </div>
          <% }); %> <% } else { %>
          <p>No hostels added yet.</p>
          <% } %>
        </div>
      </section>
    </div>
    <script>
      // Event listener for delete buttons
      const deleteButtons = document.querySelectorAll(".delete-btn");

      deleteButtons.forEach((button) => {
        button.addEventListener("click", async (event) => {
          event.preventDefault();

          const hostelId = button.getAttribute("data-hostel-id");
          try {
            const response = await fetch(`/delete_hostel/${hostelId}`, {
              method: "DELETE",
            });

            if (response.ok) {
              console.log("Hostel deleted successfully");
              window.location.reload(); // Refresh the page after successful deletion
            } else {
              console.error("Failed to delete hostel");
            }
          } catch (error) {
            console.error("Error:", error);
          }
        });
      });

      const sidebar = document.getElementById("sidebar");
      const menuIcon = document.getElementById("menu-icon");

      menuIcon.addEventListener("click", () => {
        sidebar.style.left = sidebar.style.left === "0px" ? "-20vw" : "0px";
      });

      function handleResize() {
        if (window.innerWidth > 768) {
          sidebar.style.left = "0";
          menuIcon.style.display = "none";
        } else {
          sidebar.style.left = "-20vw";
          menuIcon.style.display = "block";
        }
      }

      window.addEventListener("resize", handleResize);
      handleResize();
    </script>
  </body>
</html>
