<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/landlord_head")%>
  <body>
    <%- include("./partials/landlord_header") %> <%
    include("./partials/progress-bar") %>
    <!-- Main content section -->
    <div class="container">
      <!-- Card Section -->
      <section class="card-section">
        <% if (hostels.length > 0) { %> <% hostels.forEach((hostel) => { %>
        <div class="card">
          <img
            src="/uploads/<%= hostel.images %>"
            alt="<%= hostel.name %> Image"
          />
          <div class="card-info">
            <h2><%= hostel.name %></h2>
            <p>Gender: <%= hostel.gender %></p>
            <p>Location: <%= hostel.location %></p>
            <p>MK<%= hostel.price %></p>
            <a
              href="#"
              class="delete-btn"
              data-hostel-id="<%= hostel.hostelId %>"
              >Delete</a
            >
          </div>
        </div>
        <% }); %> <% } else { %>
        <p>No hostels added yet.</p>
        <% } %>
      </section>
    </div>
    <script>
      // Event listener for delete buttons
      const deleteButtons = document.querySelectorAll(".delete-btn");

      deleteButtons.forEach((button) => {
        button.addEventListener("click", async (event) => {
          event.preventDefault();

          const hostelId = button.getAttribute("data-hostel-id");
          try {
            const response = await fetch(`/delete_hostel/${hostelId}`, {
              method: "DELETE",
            });

            if (response.ok) {
              console.log("Hostel deleted successfully");
              window.location.reload(); // Refresh the page after successful deletion
            } else {
              console.error("Failed to delete hostel");
            }
          } catch (error) {
            console.error("Error:", error);
          }
        });
      });
    </script>
    <%- include("./partials/footer") %>
  </body>
</html>
