<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %> <%- include("./partials/progress-bar")
    %>
    <!-- Main Content -->
    <main class="container">
      <section class="welcome">
        <div class="search-container">
          <input
            class="search-input1"
            type="text"
            id="searchInput"
            placeholder="Search..."
          />
          <button id="searchButton">Search</button>
        </div>

        <h1 class="welcome-info">
          WE HAVE <span style="color: chartreuse">PERFECT</span> RENTAL FOR YOU
        </h1>
      </section>

      <!-- Filter Icon -->
      <section class="filter-icon-section">
        <img
          src="/images/filter-icon.png"
          alt="Filter Icon"
          id="filterIcon"
          class="filter-icon"
        />
      </section>

      <!-- Filter Section -->
      <section class="filter-section" id="filterSection" style="display: none">
        <div class="filter-group">
          <label for="genderFilter">Gender</label>
          <select id="genderFilter">
            <option value="">All</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="Mixed">Mixed</option>
            <option value="Family">Family</option>
          </select>
        </div>
        <div class="filter-group">
          <label for="priceRange">Price Range (MK)</label>
          <input
            type="range"
            id="priceRange"
            min="0"
            max="200000"
            step="5000"
            value="150000"
          />
          <div class="range-values">
            <span id="minPrice">0</span>
            <span id="maxPrice">200000</span>
          </div>
        </div>
        <div class="filter-group">
          <label for="locationFilter">Location</label>
          <input
            type="text"
            id="locationFilter"
            list="locationOptions"
            placeholder="Enter location"
          />
          <datalist id="locationOptions">
            <option value="Mandala"></option>
            <option value="Chichiri"></option>
            <option value="Chitawira"></option>
            <option value="Manja"></option>
            <option value="CI"></option>
            <!-- Add more predefined locations here -->
          </datalist>
        </div>
        <button id="applyFiltersButton">Apply Filters</button>
      </section>

      <!-- Cards Section -->
      <section class="card-section">
        <!-- Loop through hostels and display each as a card -->
        <% hostels.forEach((hostel) => { %>
        <div class="card">
          <% if (hostel.images) { %> <% const imageUrls =
          hostel.images.split(','); %>
          <!-- Display the first image for each hostel -->
          <img
            src="/uploads/<%= imageUrls[0] %>"
            alt="<%= hostel.name %> Image"
          />
          <% } else { %>
          <!-- Display a placeholder image or handle empty image case -->
          <img src="/images/M1.jpg" alt="Placeholder Image" />
          <% } %>
          <div class="card-info">
            <h2><%= hostel.name %></h2>
            <p>Gender: <%= hostel.gender %></p>
            <p>Location: <%= hostel.location %></p>
            <p>MK<%= hostel.price %></p>
            <a
              href="/hostel_details/<%= hostel.hostelId %>?auth=<%= userIsAuthenticated %>"
              class="view-details-btn"
              >View Details</a
            >
          </div>
        </div>
        <% }); %>
      </section>
    </main>

    <%- include("./partials/footer") %>

    <script>
      // Get the search input element and search button
      const searchInput = document.getElementById("searchInput");
      const searchButton = document.getElementById("searchButton");

      // Get all card elements
      const cards = document.querySelectorAll(".card");

      // Add event listener for button click
      searchButton.addEventListener("click", performSearch);

      // Add event listener for pressing Enter key in the search input
      searchInput.addEventListener("keypress", function (e) {
        if (e.key === "Enter") {
          performSearch();
        }
      });

      // Function to perform search
      function performSearch() {
        const searchTerm = searchInput.value.toLowerCase().trim();

        // Loop through each card and check if it matches the search term
        cards.forEach((card) => {
          const hostelName = card.querySelector("h2").textContent.toLowerCase();
          const hostelLocation = card
            .querySelector(".card-info p:nth-child(3)")
            .textContent.toLowerCase();
          const hostelPrice = card
            .querySelector(".card-info p:nth-child(4)")
            .textContent.toLowerCase();
          const hostelGender = card
            .querySelector(".card-info p:nth-child(2)")
            .textContent.toLowerCase();

          // Show or hide the card based on the search term
          if (
            hostelName.includes(searchTerm) ||
            hostelLocation.includes(searchTerm) ||
            hostelPrice.includes(searchTerm) ||
            hostelGender.includes(searchTerm)
          ) {
            card.style.display = "block";
          } else {
            card.style.display = "none";
          }
        });
      }

      // Get filter elements
      const genderFilter = document.getElementById("genderFilter");
      const priceRange = document.getElementById("priceRange");
      const locationFilter = document.getElementById("locationFilter");
      const applyFiltersButton = document.getElementById("applyFiltersButton");
      const filterIcon = document.getElementById("filterIcon");
      const filterSection = document.getElementById("filterSection");

      // Toggle filter section display
      filterIcon.addEventListener("click", function () {
        filterSection.style.display =
          filterSection.style.display === "none" ? "block" : "none";
      });

      // Add event listener for apply filters button click
      applyFiltersButton.addEventListener("click", function () {
        applyFilters();
      });

      function applyFilters() {
        const gender = genderFilter.value.toLowerCase();
        const price = parseFloat(priceRange.value);
        const location = locationFilter.value.toLowerCase().trim();

        console.log(
          `Filtering by: gender=${gender}, price=${price}, location=${location}`
        );

        cards.forEach((card) => {
          const hostelName = card.querySelector("h2").textContent.toLowerCase();
          const hostelGender = card
            .querySelector(".card-info p:nth-child(2)")
            .textContent.toLowerCase()
            .split(": ")[1];
          const hostelLocation = card
            .querySelector(".card-info p:nth-child(3)")
            .textContent.toLowerCase()
            .split(": ")[1];
          const hostelPrice = parseFloat(
            card
              .querySelector(".card-info p:nth-child(4)")
              .textContent.replace("MK", "")
          );

          const matchesGender = !gender || hostelGender.includes(gender);
          const matchesLocation =
            !location || hostelLocation.includes(location);
          const matchesPrice = hostelPrice <= price;

          console.log(
            `Hostel: ${hostelName}, Gender: ${hostelGender}, Location: ${hostelLocation}, Price: ${hostelPrice}`
          );
          console.log(
            `matchesGender: ${matchesGender}, matchesLocation: ${matchesLocation}, matchesPrice: ${matchesPrice}`
          );

          if (matchesGender && matchesLocation && matchesPrice) {
            card.style.display = "block";
          } else {
            card.style.display = "none";
          }
        });
      }

      // Update price range display values
      const minPrice = document.getElementById("minPrice");
      const maxPrice = document.getElementById("maxPrice");

      priceRange.addEventListener("input", () => {
        maxPrice.textContent = priceRange.value;
      });

      // Initialize range values display
      minPrice.textContent = priceRange.min;
      maxPrice.textContent = priceRange.value;
    </script>
  </body>
</html>
