<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/tenant_head") %>
  <body>
    <%- include("./partials/tenant_header") %> <%
    include("./partials/progress-bar") %>
    <h1>Tenant Profile</h1>
    <form action="/tenant/tenant_profile" method="POST">
      <div>
        <label for="fname">First Name</label>
        <input
          type="text"
          id="fname"
          name="fname"
          value="<%= profile ? profile.fname : '' %>"
        />
      </div>
      <div>
        <label for="lname">Last Name</label>
        <input
          type="text"
          id="lname"
          name="lname"
          value="<%= profile ? profile.lname : '' %>"
        />
      </div>
      <div>
        <label for="gender">Gender</label>
        <input
          type="text"
          id="gender"
          name="gender"
          value="<%= profile ? profile.gender : '' %>"
        />
      </div>
      <div>
        <label for="phone">Phone</label>
        <input
          type="text"
          id="phone"
          name="phone"
          value="<%= profile ? profile.phone : '' %>"
        />
      </div>
      <div>
        <label for="university">University</label>
        <input
          type="text"
          id="university"
          name="university"
          value="<%= profile ? profile.university : '' %>"
        />
      </div>
      <button type="submit">Update Profile</button>
    </form>
    <%- include("./partials/footer") %>
  </body>
</html>
